@model  Busidex.Profile.DataAccess.CardDetailModel

@section Head{
    <meta name="keywords" content="@Model.Name, @Model.CompanyName, Busidex" />
    <meta name="description" content="@Model.Name, @Model.CompanyName, Busidex" />
    <title>@Model.Name | Busidex</title>
}
<div class="background"></div>
<img class="search-background" src="https://az381524.vo.msecnd.net/images/search-background.gif" />
<div class="jumbotron" style="line-height: 2">

    <div class="row">
        <div class="col-md-6">
            <img class="card_image_@Model.FrontOrientation" src="https://az381524.vo.msecnd.net/cards/@(Model.FrontFileId + "." + Model.FrontType)" /><br /><br />
            @if (Model.BackFileId != null && Model.BackFileId != Guid.Empty && Model.BackFileId.ToString() != "b66ff0ee-e67a-4bbc-af3b-920cd0de56c6")
            {
                <img class="card_image_@Model.BackOrientation" src="https://az381524.vo.msecnd.net/cards/@(Model.BackFileId + "." + Model.BackType)" />
            }
        </div>
        <div class="col-md-6">

            <div class="well well-sm contact-info">
                <h2>@Model.CompanyName</h2>
                <h3>@Model.Name</h3>
                    @if (!string.IsNullOrEmpty(@Model.Url))
                    {
                        <img src="/Content/Images/browser.jpg" class="contact-icon"/>
                        <a href="@Model.Url" target="_blank">@(Model.Url)</a>
                        <br/>
                    }                                                                                                   
                    @if (!string.IsNullOrEmpty(@Model.Email))
                    {
                        <img src="/Content/Images/email.jpg" class="contact-icon" /> 
                        <a target="_blank" href="mailto:@Model.Email">@Model.Email</a>
                        <br/>
                    }

                    @if (Model.Addresses != null && Model.Addresses.Count > 0)
                    {
                        <a target="_blank" href="https://www.google.com/maps?q=@(new HtmlString(Model.Addresses[0].ToString()))">
                            <img src="/Content/Images/maps.png" class="contact-icon" style="padding-right:10px;" />Get Directions
                        </a>
                        <br/>
                    }
                    <ul>
                        @foreach (var number in Model.PhoneNumbers)
                        {
                            <li><small>@number.PhoneNumberType:<a href="tel:@number.Number"> @number.Number</a></small></li>
                        }
                    </ul>
                </div>
        </div>
    </div>
</div>
@*<div class="row">
    @if (Model.Addresses != null && Model.Addresses.Count > 0)
    {
        <div class="jumbotron" id="mapHolder" style="height: 430px;">
            <h2>On The Map</h2>
            <iframe src="https://www.google.com/maps?q=@(new HtmlString(Model.Addresses[0].ToString()))&output=embed" onload="javascript:resizeIframe(this);" frameborder="0" style="border: 0;  width: 100%; height:90%"></iframe>
        </div>
    }
</div>*@
@*<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        obj.height = parseInt(obj.style.pixelHeight);//obj.contentWindow.document.body.scrollHeight;
        obj.width = parseInt(obj.style.pixelWidth);
    }
</script>*@