<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Busi-what?", "About", "Home")</li>
<li>@Html.ActionLink("Privacy", "PrivacyPolicy", "Home")</li>
<li>@Html.ActionLink("Here's the Deal", "TermsOfService", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>