@using System.Configuration
@using Busidex4.Helpers
@model List<Busidex.DAL.Card>

@{
    ViewBag.Title = "NewCards";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#Admin a").css('color', '#fff');
    });
</script>
<h2>NewCards</h2>
@{
    string cdnPath = ConfigurationManager.AppSettings["userCardPath"];
}

@foreach (var c in Model)
{
    if (!c.FrontFileId.HasValue && string.IsNullOrEmpty(c.Markup))
    {
        continue;
    }
    <div class="detailRow row" style="margin-bottom:25px;" cId="@c.CardId">
        <div class="span3">
            <img alt="@c.Name" src="@(cdnPath + c.FrontFileId.Value.ToString() + ".jpg")" class="myBusidexCard2 @(c.FrontOrientation == "V" ? "v_preview" : "h_preview")" style="position:relative"/>
        </div>
        <div class="span9 cardInfo">
            <div class="row">
                <div class="span4">
                    <strong>@c.Name</strong>
                    <span class="label">@c.CompanyName</span><br/>
                    @foreach (var phone in c.PhoneNumbers.Where(pn => !pn.Deleted))
                    {
                        <label>@(string.IsNullOrEmpty(phone.Number) ? "(no phone available)" : CardHelper.FormatPhoneNumber(phone.Number))</label>
                    }
                    @if (string.IsNullOrEmpty(c.Email))
                    {
                        <span>(no email available)</span>
                    }
                    else
                    {
                        <a href="mailto:@(new HtmlString(c.Email))">@c.Email</a>
                    }<br />
                    @if (!string.IsNullOrEmpty(c.Url))
                    {
                        <a href="@("http://" + c.Url)" target="_blank">@c.Url</a>
                    }<br/>
                    <span>Date Added: @c.Created.ToShortDateString()</span><br/>
                    <span>Last Updated: @c.Updated.ToShortDateString()</span><br />
                    @if (c.OwnerId.HasValue)
                    {
                        <span class="badge badge-success">This card is owned</span>
                    }
                    else
                    {
                        <span class="badge badge-important">This card has no owner yet.</span>
                    }
                </div>
            </div>
        </div>
    </div>
}